@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #0d0d0d;
  --font-color: white;
}

body {
  background-color: var(--backgroundColor);
  color: var(--font-color);
}

* {
  box-sizing: border-box;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
